.aside {
    color: black;
    width: 25vw;
    position: sticky;
    top: 0;
    height: 100%;
    /* background-color: black; */
}

.aside-buttons {
    margin: 5%;
    margin-left: 0;
}

.aside-button {
    background-color: darkcyan;
    width: 90%;
    height: 3rem;
    color: aliceblue;
    font-weight: 600;
    border: none;
    border-radius: 0.5rem;
    margin-top: 2%;
}

.activity-completed-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-left: 5%;
    background-color: black;
}

.activity-completed-btn:hover {
    background-color: green;
}