.work-list-details {
    margin: 5%;
    margin-top: 10%;
    text-align: start;
    color: darkcyan;
}

.work-list-details div {
    background-color: lightcyan;
    padding: 3% 5%;
    margin: 5%;
    margin-left: 0;
    border-radius: 0.5rem;
}

.work-list-details div p {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 950px) {
    .work-list-details {
        margin: 0;
        margin-left: 1rem;

    }

    .work-list-details div {
        width: 15rem;
    }

    .work-list-details h3 {
        margin-top: 0;
    }
}

@media screen and (max-width: 506px) {
    .work-list-details div {
        width: 15rem;
    }
}