.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30vh;
    background-image: linear-gradient(to right, rgb(60, 85, 19), rgb(42, 68, 1));
}

.header-icon {
    font-size: 2rem;
}

.website-name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: white;
    margin: 5%;
}

.website-name h1 {
    font-family: 'Josefin Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-right: 10%;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 0.7rem;
    border-radius: 0.5rem;
    border-top-right-radius: 0;
    font-weight: 600;
    font-size: 1rem;
}

nav a:hover {
    border: 1px solid white;
}

@media screen and (max-width:490px) {
    nav {
        flex-direction: column;
        gap: 0;
    }

    nav a {
        padding: 0.3rem;
    }
}